/*
--steel-blue:     ;
--sky-blue:      #8EC5E6;
--midnight:      #0A0F14;
--navy:          #1A2535;
--deep-magenta:  #B5338A;
--electric-cyan: #00C8D4;
--amber:         #E8A030;
--lavender:      #9B8FD5;
*/

* {
    font-family: 'Iosevka Nerd Font mono';
    font-size: 14px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    /* border-radius: 12px; */
    background-color: rgba(26, 37, 53, 0.55);
    /* border: 1px solid rgba(142, 197, 230, 0.25); */
 }

 /* Inner Box */
 #inner-box {
    /* margin: 5px; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
 }


 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 10px 25px 10px 25px;
    padding: 10px;
    color: #8EC5E6;
    background-color: #1A2535;
    border: 2px solid #8EC5E6;
    border-radius: 5px;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: #FFFFFF;
 }


/* Selected Entry */
#entry:selected {
   background-color: none;
   border: 1px solid #8EC5E6;
   border-radius: 5px;
}

 #entry:selected #text {
    color: #FFFFFF;
 }
 image {
   margin-left: 10px;
 }
/*entfernen des anderen durch .left oder .right*/
#input > image.right {
        -gtk-icon-transform:scaleX(0);
    }
