/*
--steel-blue:    #5B9BD5;
--sky-blue:      #8EC5E6;
--midnight:      #0A0F14;
--navy:          #1A2535;
--deep-magenta:  #B5338A;
--electric-cyan: #00C8D4;
--amber:         #E8A030;
--lavender:      #9B8FD5;
*/


* {
    border: none;
    border-radius: 0px;
    font-family: "SF Pro Display", "JetBrainsMono Nerd Font Propo";
    padding: 0px;
    margin: 0px;
    min-width: 10px;
}

window#waybar {
  background: #1A2535;
  color: #5B9BD5;
  border-radius: 12px;
}

#cpu {
    color: #8EC5E6;
}

#memory {
    color: #8EC5E6;
}

#clock {
  color: #8EC5E6;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
    all: unset;
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    margin: 2px 4px;
    color: #8EC5E6;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: border-color 0.2s, color 0.2s;
}

#workspaces button:not(.active):hover {
    border-color: #8EC5E6;
}

#workspaces button.active {
    border-color: #5B9BD5;
    background: #0A0F14;
    color: #5B9BD5;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: #1A2535;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: #8EC5E6;
}

#network.detail {
    margin-left: 10px;
}

#mpris {
    background: transparent;
    padding: 0 8px;
    border-radius: 8px;
}

#mpris.playing {
    background: #5B9BD5;
    color: #0A0F14;
}