/*
--steel-blue:    #5B9BD5;
--sky-blue:      #8EC5E6;
--midnight:      #0A0F14;
--navy:          #1A2535;
--deep-magenta:  #B5338A;
--electric-cyan: #00C8D4;
--amber:         #E8A030;
--lavender:      #9B8FD5;
*/

#lock {
    background-image: url("/home/sanguine/Pictures/wlogout/tile0.png");
}
#logout {
    background-image: url("/home/sanguine/Pictures/wlogout/tile3.png");
}
#suspend {
    background-image: url("/home/sanguine/Pictures/wlogout/tile1.png");
}
#hibernate {
    background-image: url("/home/sanguine/Pictures/wlogout/tile4.png");
}
#reboot {
    background-image: url("/home/sanguine/Pictures/wlogout/tile2.png");
}
#shutdown {
    background-image: url("/home/sanguine/Pictures/wlogout/tile5.png");
}

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(10, 15, 20, 0.55);
}

button {
    font-family: "Jetbrains Mono", monospace;
    font-size: 24px;
    letter-spacing: 5px;
    background-color: rgba(26, 37, 53, 0.45);
    background-blend-mode: overlay;
    border: 2px solid rgba(142, 197, 230, 0.25);
    border-radius: 5px;
    margin: 5px;
    min-width: 80px;
    min-height: 300px;
}

button:hover,
button:focus {
    background-color: rgba(10, 15, 20, 0.55);
    border-color: #5B9BD5;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 #00C8D4,  /* Top Left */
         1px -1px 0 #00C8D4,  /* Top Right */
        -1px  1px 0 #00C8D4,  /* Bottom Left */
         1px  1px 0 #00C8D4;  /* Bottom Right */
}


/* Individual button styling */
#lock, #logout, #suspend, #hibernate, #shutdown, #reboot {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 92.5%;
    /*background-size: cover;*/

}
